@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto+Mono&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  background-color: #fff;
}

body {
  margin: 0;
  color: black;
}

nav {
  display: flex;
  width: 60%;
  margin: auto;
  padding: 24px;
  justify-content: space-between;
}

nav a {
  text-align: center;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav a:hover {
  color: #ff6700;
}

h1 {
  font-size: 64px;
}

.container-main {
  display: flex;
}

.container-main .main-article {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 30px;
  color: #ff6700;
}

.container-main .main-article h2{
  color: black;
}
.container-main .main-article img {
  margin-bottom: 30px;
}

.container-main .article-list{
  display: flex;
  flex-direction: column;
  padding: 15px;
}
.container-main .article-list a{
  text-decoration: none;
  color: black;
}
.container-main .article-list .card {
  display: flex;
  padding: 20px;
  line-height: 1.25;
}

.card:hover {
  text-decoration: underline;
  transition: 0.5s ease;
}

.card h3{
  color: #ff6700;
}

.card h6{
  color: #AFAFAF;
}

.container-main .article-list .card img{
  height: 20vh;
  width: auto;
}

.container-about{
  justify-content: center;
  text-align: center;
}

.container-about img {
  margin-bottom: 30px;
}
.container-contact{
  justify-content: center;
  text-align: center;
}

.container-contact a {
  color: #ff6700;
  text-decoration: none;
  padding: 20px;
}

.container-contact a:hover {
  opacity: 0.8;
}
